.container {
    max-width: 1920px;
}

h1, h4 {
    text-align: left;
}

.navbar-brand {
    text-align: right;
}

h4 {
    color: grey;
}

img {
    margin-top: 16px;
}

.ship {
    max-width: 512px;
    margin: auto;
}

.tran {
    text-align: center;
}

.info_list {
    padding-left: 40px;
}

.auto-answer-h4 {
    padding-left: 20px;
}

.accident {
    min-height: 50px;
    background-image: url(/static/img/MARS.png);
    background-repeat: no-repeat;
    margin-bottom: 16px;
    margin-left: 20px;
}

.accident-text {
    max-width: 400px;
    margin-left: 150px;
    padding-top: 5px;
}