{% extends "base.html" %}

{% block navbar_cont %}
    <h1>Миссия Колонизация Марса</h1>
{% endblock %}

{% block content %}
    <h4 class="auto-answer-h4">И на Марсе будут яблони цвести!</h4>
{% endblock %}

{% block training %}
    {% set titles = ['Фамилия', 'Имя', 'Образование', 'Профессия', 'Пол', 'Мотивация', 'Готовы остаться на Марсе?'] %}
    <div class="info_list">
        <p>{{ titles[0] }}: {{ person_info['surname'] }}</p>
        <p>{{ titles[1] }}: {{ person_info['name'] }}</p>
        <p>{{ titles[2] }}: {{ person_info['education'] }}</p>
        <p>{{ titles[3] }}: {{ person_info['profession'] }}</p>
        <p>{{ titles[4] }}: {{ person_info['sex'] }}</p>
        <p>{{ titles[5] }}: {{ person_info['motivation'] }}</p>
        <p>{{ titles[6] }} {{ person_info['ready'] }}</p>
    </div>


{% endblock %}