{% extends "base.html" %}

{% block navbar_cont %}
    <h1>Миссия Колонизация Марса</h1>
{% endblock %}

{% block content %}
    {% set lab = "Action #" %}
    <h4 class="grey">И на Марсе будут яблони цвести!</h4>
    <h3 class="works-title">Worsk log</h3>

    <div class="all-jobs-table">
        {% if current_user.is_authenticated %}
        <a href="add_job" class="btn btn-secondary">Add job</a>
        {% endif %}
    {% for item in jobs %}
    <div class="jobs-table">
        <h4>{{lab}} {{loop.index}}</h4>
        {% if current_user.is_authenticated and current_user == item.user or current_user.id == 1 %}
            <div>
                <a href="/edit_job/{{ item.id }}" class="btn btn-warning">
                    Edit job
                </a>
                <a href="/job_delete/{{ item.id }}" class="btn btn-danger">
                    Delete job
                </a>
            </div>
        {% endif %}
        <table class="table">
          <thead>
            <tr>
              <td scope="col" class="table-head-grey">Title of activity</td>
              <td scope="col" class="table-head-grey">Team leader</td>
              <td scope="col" class="table-head-grey">Duration</td>
              <td scope="col" class="table-head-grey">List of collaborators</td>
              <td scope="col" class="table-head-grey">Is finished</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row" class="table-body-blue">{{item.job}}</td>
              <td class="table-body-blue">{{item.user.surname}} {{item.user.name}}</td>
              <td class="table-body-blue">{{item.work_size}} hours</td>
              <td class="table-body-blue">{{item.collaborators}}</td>
              {% if item.is_finished == 0 %}
              <td class="table-body-pink">Is not finished</td>
              {% else %}
                <td class="table-body-green">Finished</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
    </div>
    {% endfor %}
    </div>
{% endblock %}