{% extends "base.html" %}

{% block navbar_cont %}
    <h1>Миссия Колонизация Марса</h1>
{% endblock %}

{% block content %}
    <h4>И на Марсе будут яблони цвести!</h4>

<div class="form-group add-photo">
  <label for="photo">Приложите фотографию</label>
  <form action="" method="post" enctype="multipart/form-data">
  <input type="file" class="form-control-file" id="photo" name="file">
      {% if active_filename != '' %}
      <img class="member-photo" src="{{photo}}" alt="Картинка члена экипажа">
      {% endif %}
    <button type="submit" class="btn btn-primary">Отправить</button>
   </form>
</div>
{% endblock %}